*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
header{
    padding: 216px;
    padding: 216px 230px 166px 50%;
    background: url("./images/banner/banner1.png");
    text-align: right;
    background-position: center;
}
header h2{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
header p{
    color: #444343;
    margin: 28px 0;
}
header button{
    background-color: #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
}